/* Styles pour le pied de page */
.footer-container {
    background-color: #1e3c72; /* Couleur de fond */
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.footer-section p, .footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-section a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #2a69ac; /* Couleur de fond légèrement différente pour le bas du pied de page */
}

.footer-bottom p {
    margin: 0;
}
